{% extends 'base.html' %}

{% block main %}

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Message</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for message in messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.message_text }}</td>
            <td>{{ message.message_status }}</td>
        </tr>
        {%else%}
        <tr>
            <td>ID</td>
            <td>TEXT</td>
            <td>STATUS</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}